 <% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>

<%= link_to 'Create Jot', new_jot_path(@jot) %>

<%= link_to 'See Jots', jots_path %>

<%= link_to 'See Jewels', jewels_path %>